body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.btnLetter {
    background-color: rgba(185, 143, 110, 0.651);
    border-color: rgba(120, 93, 72, 0.651);
    border-radius: 3px;
    box-shadow: rgba(74, 59, 48, 0.406) 1px 1px 1px 1px;
}

.btnGuess {
    background-color: rgba(191, 120, 66, 0.651);
    border-color: rgba(120, 93, 72, 0.651);
    border-radius: 3px;
    box-shadow: rgba(70, 38, 15, 0.607) 1px 1px 1px 1px;
}