.flexMain {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-direction: column;
}

#letter-container button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #ffffff;
    cursor: pointer;
  }
  .letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
  }

.btnGuess {
    background-color: rgba(191, 120, 66, 0.651);
    border-color: rgba(120, 93, 72, 0.651);
    border-radius: 3px;
    box-shadow: rgba(70, 38, 15, 0.607) 1px 1px 1px 1px;
}